.overlay{
    z-index: 100;
}

.logo-container {
    width: 10rem;
    margin: 0 auto;
    margin-top: 4rem;
    
}

.countdown {
    color: white;
    margin: 0 auto;
    width: max-content;
    margin-top: 20rem;
    font: 5rem "Arvo";
}

.logo {
    width: 100%;
    top: 0;
    left: 0;
}

.wrapper {
    position: relative;
}

.foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}